CODE
- review member fields name
- update methods to be constants
- asserts
- defines (DEBUG, RELEASE, TEST, DISTRIBUTION)
- memory leak check

THIRD PARTIES
- change stl to STLPort

FIXES
- SRE_API warnings
- children local transforms

FEATURES
- file save dialogs